html
	head
		title Image crop API
	body
		h1 Image crop API
		form(method="POST", enctype="multipart/form-data")
			input(type="file", name="file")
			input(type="text", name="x")
			input(type="text", name="y")
			input(type="text", name="width")
			input(type="text", name="height")
			input(type="submit")
