html
	head
		title Image manipulation API
	body
		h1 Image manipulation API
		p This server will respond to POST requests to <a href="/rotate">the rotate endpoint</a> with a rotated image. Pass an argument "degrees" in the POST request to specify which direction, and how far, to rotate the image.
